---
import Layout from "../../layouts/Layout.astro";
import { newtClient } from "../../libs/newt";
import type { Article } from "../../libs/newt";
import Container from "../../components/Container.astro";
import Button from "../../components/Button.astro";
import { Image } from "astro:assets";
import PageBody from "../../components/PageBody.astro";
export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: "blog",
    modelUid: "article",
    query: {
      select: ["_id", "title", "_sys", "slug", "body", "coverImage"],
    },
  });
  return articles.map((article) => ({
    params: { id: article._id },
    props: { article },
  }));
};

const { article } = Astro.props;

const blogPrev = await newtClient.getFirstContent<Article>({
  appUid: "blog",
  modelUid: "article",
  query: {
    select: ["_id", "title"],
    order: ["-_sys.customOrder"],
    "_sys.customOrder": {
      lt: article._sys.customOrder,
    },
  },
});
const blogNext = await newtClient.getFirstContent<Article>({
  appUid: "blog",
  modelUid: "article",
  query: {
    select: ["_id", "title"],
    order: ["_sys.customOrder"],
    "_sys.customOrder": {
      gt: article._sys.customOrder,
    },
  },
});
---

<Layout>
  <PageBody>
    <Container value="small">
      <div class="blog-single">
        <h1>{article.title}</h1>
        <figure transition:name={article.slug} class="cover">
          <Image
            src={article.coverImage.src}
            width={780}
            height={520}
            alt={article.title}
            loading="eager"
          />
        </figure>
        <article set:html={article.body} />
        <div class="article-footer">
          {
            blogPrev && (
              <a href={"/blog/" + blogPrev._id} class="prev">
                前の記事へ
              </a>
            )
          }
          <Button text="一覧に戻る" link="/blog/" />

          {
            blogNext && (
              <a href={"/blog/" + blogNext._id} class="next">
                次の記事へ
              </a>
            )
          }
        </div>
      </div>
    </Container>
  </PageBody>
</Layout>

<style lang="scss">
  h1 {
    font-size: 3.8rem;
    margin-bottom: 60px;
  }
  .cover {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 60px;
    max-width: 780px;
    img {
      display: block;
      width: 100%;
    }
  }
  .blog-single {
    :global(p) {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
  .article-footer {
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;
    :global(.button) {
      margin-top: 0;
    }

    .prev,
    .next {
      display: flex;
      align-items: center;
      gap: 10px;
      @include pCenter(y);
      @include bp(pc) {
        transition: 0.3s;
        &:hover {
          color: $red;
        }
      }
      &::before,
      &::after {
        display: block;
        margin-top: -5px;
      }
    }
    .next {
      right: 0;
      &::after {
        content: ">";
      }
    }
    .prev {
      left: 0;
      &::before {
        content: "<";
      }
    }
  }
</style>
